.header-block {
    flex: 0 0 33.333%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.header-sign {
    justify-content: flex-end;
}
.header-sign button {
    margin-left: 10px;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.header-logo small {
    font-size: 12px;
    font-weight: normal;
    color: #8e8d8c;
}

.header-actions button  {
    margin-right: 10px;
}