<div class="header-actions header-block">
    
    <button *ngIf="isNotesRoute()" [routerLink]="'new'" pButton class="p-button-success">Добавить заметку</button>
    <!-- <button *ngIf="isNewNoteRoute()" [routerLink]="''" pButton class="p-button-danger">Отменить</button> -->

</div>
<div class="header-logo header-block">
    <a [routerLink]="''">SimpleNote</a>
</div>
<div class="header-sign header-block">
    <button pButton>Вход</button>
    <button pButton class="p-button-outlined">Регистрация</button>
</div>