.header-block {
    flex: 0 0 33.333%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.header-sign {
    justify-content: flex-end;
}
.header-sign button {
    margin-left: 10px;
}

.header-logo {
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.header-actions button  {
    margin-right: 10px;
}