app-header {
    display: flex;
    position: relative;
}

app-header::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ccc;
}

.test {
    background-color: #000;
}